@font-face {
  font-family: "youngSerif-Regular";
  src: url(YoungSerif-Regular.ttf);
}

@font-face {
  font-family: "Outfit-VariableFont_wght";
  src: url(Outfit-VariableFont_wght.ttf) format("truetype");
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  box-sizing: border-box;
  font-family: "youngSerif-Regular";
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
  font-weight: 100px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(30, 54%, 90%);
  margin-top: 3px;
  min-height: 100vh;
}

.container {
  background-color: hsl(0, 0%, 100%);
  max-width: 900px;
  width: 100%;
  border-radius: 16px;
  margin: 20px 80px 50px 40px;
  padding: 30px 100px 0px 50px;
}

.Recipe-img {
  width: 100%;
  margin: 20px;
}

.Recipe-img img {
  width: 100%;
  max-width: 750px;
  height: 300px;
  border-radius: 20px;
  display: block;
  margin: 20px auto;
}

.Recipe-info h1 {
  font-family: "youngSerif-Regular";
  font-size: 40px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.Recipe-info p {
  margin: 20px 20px 20px 20px;
  font-family: "Outfit-VariableFont_wght";
  font-size: 18px;
  width: 100%;
}

.prep-time {
  width: 100%;
  margin: 30px 40px;
  padding: 20px;
  background-color: rgb(255, 247, 252);
  min-height: 30%;
  max-height: 50%;
  font-family: "Outfit-VariableFont_wght";
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.prep-time h3 {
  color: rgb(130, 16, 69);
  font-family: "Outfit-VariableFont_wght";
  margin-bottom: 10px;
}

.prep-time ul {
  font-family: "Outfit-VariableFont_wght";
  margin: 2px 2px;
  padding-left: 40px;
}

.prep-time li,
.prep-time li strong {
  font-family: "Outfit-VariableFont_wght";
  padding-left: 30px;
}

.prep-time li::marker {
  color: rgb(130, 16, 69);
}

.ingredients h2 {
  font-family: "youngSerif-Regular";
  font-size: 40px;
  color: hsl(14, 45%, 36%);
  margin: 0 0 20px 20px;
}

.ingredients hr {
  border: none;
  border-top: 1px solid hsl(30, 18%, 87%);
}

.ingredients ul {
  font-family: "Outfit-VariableFont_wght";
  margin: 40px;
  padding-left: 40px;
}

.ingredients li {
  font-family: "Outfit-VariableFont_wght";
  padding-left: 30px;
  margin: 15px 30px 15px 15px;
}

.ingredients li::marker {
  color: hsl(14, 45%, 36%);
}

.Recipe-steps h2 {
  font-family: "youngSerif-Regular";
  font-size: 35px;
  color: hsl(14, 45%, 36%);
  margin: 15px 0 20px 20px;
}

.Recipe-steps ol {
  margin: 40px;
  padding-left: 40px;
}

.Recipe-steps li {
  margin: 0px 0px 20px;
  padding-left: 25px;
}

.Recipe-steps li::marker {
  color: hsl(14, 45%, 36%);
}

.Recipe-steps hr {
  border: none;
  border-top: 1px solid hsl(30, 18%, 87%);
}

ol li::marker {
  font-weight: bold;
}

.Recipe-steps li,
.Recipe-steps li strong {
  font-family: "Outfit-VariableFont_wght";
}

.Nutrition-table h2 {
  font-family: "youngSerif-Regular";
  font-size: 40px;
  color: hsl(14, 45%, 36%);
  margin: 15px 0 20px 20px;
}

.Nutrition-table p {
  margin: 0px 20px 20px 40px;
  padding: 0;
  font-family: "Outfit-VariableFont_wght";
  font-size: 18px;
}

.nutrition {
  width: 99%;
  border-collapse: collapse;
  margin: 50px;
  margin-top: 20px;
}

.nutrition td {
  font-family: "Outfit-VariableFont_wght";
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.nutrition .value {
  color: hsl(14, 45%, 36%);
  font-family: "Outfit-VariableFont_wght";
  font-weight: bold;
}

.nutrition tr:last-child td {
  border-bottom: none;
  padding-bottom: 30px;
}
